/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
    color: orange;
    font-size: 16px;
}
p {
  background: orange;
  background: green;
}
#food {
  background: green;
}
.hotdog p {
  background: brown;
}
.hotdog p.mustard {
  background: yellow;
}
.btn {
  font-size: 16px;
}
.btn-danger {
  background: red;
}
.btn-success {
  background: green;
}
/* Шестнадцатеричные */
.task {
  background: #800000;
}
.count {
  background: #ff0;
  /* rgb 0-255 */
}
.task {
  background: rgb(128, 0, 0);
}
.count {
  background: rgb(255, 255, 0);
}
/* rgba(.0-100=% прозрачность) или десятичное значение от 0-1 через ., */
.task {
  background: rgba(128, 0, 0, .25);
}
.count {
  background: rgba(255, 255, 0, 1);
}
/* hsl 1zоттенок 0-360 2zнасыщенность и яркость 0-100% */
.task {
  background: hsl(0, 100%, 25%);
}
.count {
  background: hsl(60, 100%, 50%);
}
  /* hsla(.0-100=% прозрачность) или десятичное значение от 0-1 через , */
.task {
  background: hsla(0, 100%, 25%, .25);
}
.count {
  background: hsla(60, 100%, 50%, 1);
}
/* px */
p {
  font-size: 14px;
}
/* %-от родительского элемента */
.col {
  width: 50%;
}
/* Одна единица em эквивалентна размеру шрифта элемента*/
.banner {
  font-size: 14px;
  width: 5em;
}